# dependencies
node_modules/

#logger
logs/

# env & secrets
.env
.env.*.local
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS/editor junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# tests/coverage (if added later)
coverage/